<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/contacto.css">

    <title>Document</title>
</head>

<body>
    <%- include("../partials/header") %>

        <main class="seccion-contacto">

            <div class="contact">

                <div class="descripcion">
                    <h3 class="title">Contacto</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur, odit. Sapiente doloremque,
                        dolores
                        vel reiciendis totam quis odio suscipit deserunt quidem quae a porro? Dolorem recusandae
                        blanditiis a
                        itaque exercitationem.</p>
                </div>

                <div>
                    <a href="/contacto"><img class="mapa" src="/img/img._Geolocalizacion.png"></a>
                </div>

                <div>
                    <h3 class="title">Teléfono</h3>
                    <p>+54 000 0000 0000 / Administración</p>
                    <p>+54 000 0000 0000 / Ventas</p>
                    <p>+54 0800 0000 0000 / Atención al Cliente</p>
                </div>

                <div>
                    <h3 class="title">Horario</h3>
                    <p>9:00 - 19:00 horas</p>
                </div>

            </div>

            <form class="form" action="/contacto" method="get">

                <div class="control-form">
                    <i class="fa-solid fa-paper-plane"></i>
                    <select>
                        <option value="cg">Consulta (General)</option>
                        <option value="at">Asesoramiento técnico</option>
                        <option value="sdr">Solicitud de repuestos</option>
                        <option value="ex">Exportaciones</option>
                        <option value="vta">Ventas</option>
                    </select>
                </div>

                <div class="contact-form">
                    <div>
                        <i class="fa-solid fa-user"></i>
                        <input type="text" name="nombreRazonSocial" placeholder="Ingrese Nombre o Razón Social*"
                            required>
                    </div>

                    <div>
                        <i class="fa-solid fa-envelope"></i>
                        <input type="email" name="correoElectronico" placeholder="Ingrese Email*" required>
                    </div>

                    <div>
                        <i class="fa-solid fa-phone"></i>
                        <input type="text" name="númeroTeléfono" placeholder="Ingrese Teléfono*" required>
                    </div>

                </div>

                <div class="coment">
                    <textarea name="textarea" rows="10" placeholder="Ingrese Consulta / Comentario"></textarea>
                    <p>* Campo Obligatorio</p>
                </div>

                <div class="boton-cierre">
                    <button type="reset">Borrar</button>
                    <button type="submit">Enviar</button>

                </div>
            </form>

        </main>

        <%- include("../partials/footer") %>

</body>
<script src="/js/script.js"></script>
</html>