<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/contacto.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    

    <title>Document</title>
</head>

<body>
    <%- include("../partials/header") %>

        <main class="seccion-contacto">

            <div class="contact">

                <div class="descripcion">
                    <h3 class="title">Ubicación</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur, odit. Sapiente doloremque,
                        dolores
                        vel reiciendis totam quis odio suscipit deserunt quidem quae a porro? Dolorem recusandae
                        blanditiis a
                        itaque exercitationem.</p>
                </div>

                <div>
                    <a href="/contacto"><img class="mapa" src="/img/img._Geolocalizacion.png"></a>
                </div>
                
                <div class="tel">
                    <h3 class="title">Teléfono</h3>
                    <br>
                    <p>+54 000 0000 0000 / Administración</p>
                    <br>
                    <p>+54 000 0000 0000 / Ventas</p>
                    <br>
                    <p>+54 0800 0000 0000 / Atención al Cliente</p>
                </div>

                <div class="schedules">
                    <h3 class="title">Horario</h3>
                    <br>
                    <p>Lunes a Viernes: 9:00 - 19:00 horas</p>
                    <br>
                    <p>Sabados: 9:00 - 13:00 horas</p>
                </div>
                <!-- <div class="schedules">
                  <h3 class="title">Sucursales</h3>
                  <br>
                  <p>Rosario: Zeballos 1927</p>
                  <br>
                  <p>La Plata: Alberdi 1300 </p>
              </div> -->

            </div>
            <section class="contact">
                <div class="u-wrapper">
                  <div class="contact-content">
            
                    <form id="form" action="" class="form">
                      <h3 class="tag"><span>Podemos resolver todas tus dudas</span></h3>
                      <br>
                      <br>
                      <label for="name">Nombre Completo <!-- <span>*</span> --></label>
                      <br>
                      <input name="name" required type="text" id="name" placeholder="Juan Seidel">
                      <br>
                      <br>
                      <label for="email">Correo electrónico <!-- <span>*</span> --></label>
                      <br>
                      <input name="email" type="text" id="email" required placeholder="juan@gmail.com">
                      <br>
                      <br>
                      <label for="message">Mensaje</label>
                      <br>
                      <textarea id="message" name="message" id="" cols="30" rows="10"></textarea>
                      <br>
                      <button type="submit" class="full">Enviar mensaje</button>
                    </form>
                    <a href="anacieloseidel@gmail.com" id="send"></a>
                  </div>
                </div>
              </section>
           

        </main>

        <%- include("../partials/footer") %>

</body>
<script>
    const $form = document.querySelector('#form')
    const $buttonMailto = document.querySelector('#send')

    $form.addEventListener('submit', handleSubmit)

    function handleSubmit(event) {
      event.preventDefault()
      const form = new FormData(this)
      $buttonMailto.setAttribute('href', `mailto:anacieloseidel@gmail.com?subject=nombre ${form.get('name')}  correo ${form.get('email')}&body=${form.get('message')}`)
      $buttonMailto.click()
    }
  </script>

</html>