<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %>

    <body>

        <%- include("../partials/header") %>

            <main>
                <img src="./img/fondo1.jpeg" class="fondo">
                <section class="informacion">
                    <div class="cajita-información">
                        <i class="fa-solid fa-truck-fast"></i>
                        <h5>Envios a todo el pais</h5>
                    </div>
                    <div class="cajita-información">
                        <i class="fa-regular fa-credit-card"></i>
                        <h5>Facilidad de pago y financiamiento</h5>
                    </div>
                    <div class="cajita-información">
                        <i class="fa-regular fa-handshake"></i>
                        <h5>Atención personalizada</h5>
                    </div>
                    <div class="cajita-información">
                        <i class="fa-solid fa-check"></i>
                        <h5>Tecnología de Vanguardia </h5>
                    </div>
                </section>

                <h2 class="titulares">Nuestros productos</h2>
                <section>

                    <article class="producto">

                        <img src="./img/hacha_de_camping.png" width="300px">
                        <div class="detalle-producto">
                            <p class="nuevo"> Nuevo</p>
                            <div class="valor">
                                <p class="precio"> $12.123</p>

                            </div>
                            <p class="envio">Envios a todo el pais</p>
                            <strong class="descripcion">Hacha de camping Bahco</strong>
                            <main>
                                <img src="./img/fondo1.jpeg" class="fondo">
                                <section class="informacion">
                                    <div class="cajita-información">
                                        <i class="fa-solid fa-truck-fast" style="color: #464e5d;"></i>
                                        <h5>Envios a todo el pais</h5>
                                    </div>
                    </article>
                    <article class="producto">

                        <img src="./img/hacha_de_pico.png" width="300px">
                        <div class="detalle-producto">
                            <p class="nuevo"> Nuevo</p>
                            <div class="valor">
                                <p class="precio"> $24589</p>

                            </div>
                            <p class="envio">Envios a todo el pais</p>
                            <strong class="descripcion">Hacha de pico Bahco Mango Fibra Vidrio</strong>
                        </div>
                    </article>
                    <article class="producto">

                        <img src="./img/motosierra_niwa.png" width="300px">
                        <div class="detalle-producto">
                            <p class="nuevo"> Nuevo</p>
                            <div class="valor">
                                <p class="precio"> $104.620</p>

                            </div>
                            <p class="envio">Envios a todo el pais</p>
                            <strong class="descripcion">Motosierra Niwa </strong>
                        </div>
                    </article>
                    <article class="producto">

                        <img src="./img/autoelevador_diesel.jpg" width="300px">
                        <div class="detalle-producto">
                            <p class="nuevo"> Nuevo</p>
                            <div class="valor">
                                <p class="precio"> $7.049.916</p>

                            </div>
                            <p class="consultar"><a href="#consultar"> Recibir informacion</a></p>
                            <strong class="descripcion">Autoelevador Diesel Motor Chino 3000kg</strong>
                        </div>
                    </article>
                    <article class="producto">

                        <img src="./img/acoplado_tanque.jpg" width="300px">
                        <div class="detalle-producto">
                            <p class="nuevo"> Nuevo</p>
                            <div class="valor">
                                <p class="precio"> $8.500.000</p>

                            </div>
                            <p class="consultar"><a href="#consultar"> Recibir informacion</a></p>
                            <strong class="descripcion">Acoplado Tanque 3000 Lts Conese</strong>
                        </div>
                    </article>
                    <article class="producto">

                        <img src="./img/moledora_mixer.jpg" width="300px">
                        <div class="detalle-producto">
                            <p class="nuevo"> Nuevo</p>
                            <div class="valor">
                                <p class="precio"> $4.649.840</p>

                            </div>
                            <p class="consultar"><a href="#consultar"> Recibir informacion</a></p>
                            <strong class="descripcion">Moledora Mixer Loyto Nº6/V-3500 C/sinfin De Descarga
                                Rigido</strong>
                        </div>
                    </article>
                    <article class="producto">

                        <img src="./img/retroexcavadora.png" width="300px">
                        <div class="detalle-producto">
                            <p class="nuevo"> Nuevo</p>
                            <div class="valor">
                                <p class="precio"> Precio a consultar</p>

                            </div>
                            <p class="consultar"><a href="#consultar"> Recibir informacion</a></p>
                            <strong class="descripcion">Retroexcavadora Mo350 Oberto</strong>
                        </div>
                    </article>
                    <article class="producto">

                        <img src="./img/casilla.jpg" width="300px">
                        <div class="detalle-producto">
                            <p class="nuevo"> Nuevo</p>
                            <div class="valor">
                                <p class="precio"> Precio a consultar</p>

                            </div>
                            <p class="consultar"><a href="#consultar"> Recibir informacion</a></p>
                            <strong class="descripcion">Casilla 5x2.60mts, 2 ejes, 1 habitación</strong>
                        </div>
                    </article>
                </section>
                <h2 class="titulares">Ofertas</h2>
                <section>
                    <article class="producto">

                        <img src="./img/desmalezadora_de_empuje.jpg" width="300px">
                        <div class="detalle-producto">
                            <p class="oferta"> Oferta</p>
                            <h5 class="precio-anterior">$80.270,4</h5>
                            <div class="valor">
                                <p class="precio"> $76.388 </p>
                                <p class="descuento">5%</p>
                            </div>
                            <p class="envio">Envios a todo el pais</p>
                            <strong class="descripcion">Desmalezadora Motoguadaña Fema de Empuje</strong>
                        </div>
                    </article>
                    <article class="producto">

                        <img src="./img/carro_playo.jpg" width="300px">
                        <div class="detalle-producto">
                            <p class="oferta"> Oferta</p>
                            <h5 class="precio-anterior">$1.496.000</h5>
                            <div class="valor">
                                <p class="precio"> $ 1.360.000</p>
                                <p class="descuento">10%</p>
                            </div>
                            <p class="consultar"><a href="#consultar"> Recibir informacion</a></p>
                            <strong class="descripcion">Carro Playo 4x2Mts 4 Toneladas </strong>
                        </div>
                    </article>
                    <article class="producto">

                        <img src="./img/soplador.jpeg" width="300px">
                        <div class="detalle-producto">
                            <p class="oferta"> Oferta</p>
                            <h5 class="precio-anterior">$152,212,5</h5>
                            <div class="valor">
                                <p class="precio"> $ 138.375</p>
                                <p class="descuento">10%</p>
                            </div>
                            <p class="envio">Envios a todo el pais</p>
                            <strong class="descripcion">Soplador Aspirador Stiga SBC327V </strong>
                        </div>
                    </article>
                    <article class="producto">

                        <img src="./img/cortadora_manual.png" width="300px">
                        <div class="detalle-producto">
                            <p class="oferta"> Oferta</p>
                            <h5 class="precio-anterior">$548.460</h5>
                            <div class="valor">
                                <p class="precio"> $ 498.600</p>
                                <p class="descuento">10%</p>
                            </div>
                            <p class="envio">Envios a todo el pais</p>
                            <strong class="descripcion"> Cortadora Manual 14" 73Cc Husqvarna K770 </strong>
                        </div>
                    </article>
                    <article class="producto">

                        <img src="./img/carretilla.jpg" width="300px">
                        <div class="detalle-producto">
                            <p class="oferta"> Oferta</p>
                            <h5 class="precio-anterior">$18.554,8</h5>
                            <div class="valor">
                                <p class="precio"> $ 16.868</p>
                                <p class="descuento">10%</p>
                            </div>
                            <p class="envio">Envios a todo el pais</p>
                            <strong class="descripcion"> Carretilla Chapa Rueda Neumática 130Kg Fema </strong>
                        </div>
                    </article>
                    <article class="producto">

                        <img src="./img/elaion_moto.jpg" width="300px">
                        <div class="detalle-producto">
                            <p class="oferta"> Oferta</p>
                            <h5 class="precio-anterior">$1650</h5>
                            <div class="valor">
                                <p class="precio"> $ 1.500</p>
                                <p class="descuento">10%</p>
                            </div>
                            <p class="envio">Envios a todo el pais</p>
                            <strong class="descripcion"> Elaion Moto 2T 100cc YPf</strong>
                        </div>
                    </article>
                    <article class="producto">

                        <img src="./img/calefactor_exterior.jpg" width="300px">
                        <div class="detalle-producto">
                            <p class="oferta"> Oferta</p>
                            <h5 class="precio-anterior">$110.576,55</h5>
                            <div class="valor">
                                <p class="precio"> $ 105.311</p>
                                <p class="descuento">5%</p>
                            </div>
                            <p class="envio">Envios a todo el pais</p>
                            <strong class="descripcion"> Calefactor Para Exterior Garrafa 10Kg Acero Inoxidable</strong>
                        </div>
                    </article>
                    <article class="producto">

                        <img src="./img/calefactor_convector.jpg" width="300px">
                        <div class="detalle-producto">
                            <p class="oferta"> Oferta</p>
                            <h5 class="precio-anterior">$24.996,4</h5>
                            <div class="valor">
                                <p class="precio"> $ 22.724</p>
                                <p class="descuento">10%</p>
                            </div>
                            <p class="envio">Envios a todo el pais</p>
                            <strong class="descripcion"> Calefactor Convector Eléctrico Fema </strong>
                        </div>
                    </article>

                </section>
                <h2 class="titulares">Convenios y Servicios</h2>
                <section class="informacion">
                    <div class="cajita-información">
                        <img src="./img/agro_nacion.jpg">
                        <h5>AGRONACIÓN</h5>
                    </div>
                    <div class="cajita-información">
                        <img src="./img/mercadopago.png" alt="">
                        <h5>MERCADOPAGO</h5>
                    </div>
                    <div class="cajita-información">
                        <img src="./img/trigo.jpg">
                        <h5>CANJE CEREAL</h5>
                    </div>
                    <div class="cajita-información">
                        <img src="./img/santander.png">
                        <h5>SANTANDER RIO</h5>
                    </div>
                </section>
                <h2 class="titulares">Categorias Populares</h2>
                <section class="informacion">
                    <div class="cajita-información">
                        <img src="./img/dibujo_maquina.jpg">
                        <h5>Maquinaria Agricola</h5>
                    </div>
                    <div class="cajita-información">
                        <img src="./img/jardineria.jpg">
                        <h5>Jardineria</h5>
                    </div>
                    <div class="cajita-información">
                        <img src="./img/herramientas.jpg">
                        <h5>Herramientas</h5>
                    </div>
                    <div class="cajita-información">
                        <img src="./img/pulverizador.jpg">
                        <h5>Pulverizacion</h5>
                    </div>
                </section>
            </main>

            <%- include("../partials/footer") %>
    </body>

</html>