<footer>
    <h2>LOGO</h2>

    <div class="redes">
        <i class="fa-brands fa-instagram"></i>
        <p>@agromapache</p>
        <i class="fa-brands fa-facebook"></i>
        <p>@agromapache</p>
        <i class="fa-brands fa-twitter"></i>
        <p>@agromapache</p>
    </div>

    <div class="contáctenos">
        <i class="fa-solid fa-envelope"></i>
        <p>@gmail</p>
        <i class="fa-solid fa-envelope"></i>
        <p>@gmail</p>
        <i class="fa-solid fa-phone"></i>
        <p>+54 000 0000 0000 / Ventas</p>
        <i class="fa-solid fa-phone"></i>
        <p>+54 000 0000 0000 / Post-Ventas y Logistica</p>
    </div>

    <div class="acercaDe">
        <i class="fa-solid fa-circle-check"></i>
        <p>Términos y Condiciones</p>
        <i class="fa-solid fa-circle-check"></i>
        <p>Cancelar compra</p>
    </div>

</footer>
