<link rel="stylesheet" href="/css/styles.css">
<footer>
    
    <h2>AgroMapache</h2>
<section class="probando">
    <div class="redes">
        <p>
        <i class="fa-brands fa-instagram"> </i> @agromapache 
        </p>
        <p>
        <i class="fa-brands fa-facebook"></i> @agromapache
       </p>
       <p>
        <i class="fa-brands fa-twitter"></i> @agromapache
        </p> 
        <p>
        <i class="fa-solid fa-envelope"></i> @gmail
        </p>
        <p>
        <i class="fa-solid fa-envelope"></i> @gmail
        </p>
    </div>

    <div class="redes">
        <p>
            <i class="fa-solid fa-phone"></i>+54 000 0000 0000 / Ventas
        </p>
        <p>
             <i class="fa-solid fa-phone"></i>+54 000 0000 0000 / Post-Ventas y Logistica
        </p>
    </div>

    <div class="redes">
        <p>
             <i class="fa-solid fa-circle-check"></i>Términos y Condiciones
        </p>  
        <p>
        <i class="fa-solid fa-circle-check"></i>Cancelar compra
       </p>
    </div>
</section>
</footer>
