<header class="main-header">

    <div class="main-header-top-bar">
        <div class="burger-menu">
            <i class="fa-solid fa-bars" style="color: #05070b;"></i>
        </div>
        <h2 class="marca">AgroMapache</h2>
        <!-- <img src="./img/logo2.jpeg" class="logo"> -->
        <div class="barra-busqueda">
            <input class="color-text-gris" type="text" value="Buscar productos">
            <button><i class="fa-solid fa-magnifying-glass"></i></button>
            <!-- <input type="text" placeholder="Buscar">
            <button type="submit"> Buscar</button> -->
        </div>
        <div class="usuario">
            <i class="fa-solid fa-circle-user"></i>
            <i class="fa-solid fa-cart-shopping"></i>
            <a href="carrito-compra.html"> Mis compras</a>
        </div>
    </div>
    </div>

    <nav>
        <nav class="main-navbar">
            <ul class="site-navbar">
                <a href="#Noticias"> Noticias</a>
                <a href="#Contacto"> Contacto </a>
            </ul>
        </nav>

</header>