<header class="main-header">

    <div class="main-header-top-bar">

        <a href="/">
            <h2 class="marca">AgroMapache</h2>
        </a>
        <form action="/searchProduct" method="GET">
        <div class="barra-busqueda">
            <input type="text" name="search" id="busqueda" placeholder="Buscar productos">
            <button type="submit" id="buscar"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
        </form>
            
    

        <div class="usuario">
            <!-- <ul class="navbar-nav align-items-center"> -->
            <% if (locals.isLogged) { %>

 
                <ul class="cont-ul">

                    <li class="desplegable">
                        <div class="probando">

                            <% if(userLogged.image) {%>
                                <img class="user-image" src="/img/user/<%=userLogged.image%>"
                                    alt="Imagen de perfil del usuario" style="border-radius: 100%;">
                                <% } else { %>
                                    <img class="user-image" src="/img/user/avatar.default.png"
                                        alt="Imagen de perfil del usuario" style="border-radius: 100%;">
                                    <% } %>
                                        <p class="saludo">Hi <%= locals.userLogged.customer_name %>
                                        </p>
                        </div>

                        <ul class="ul-second" aria-labelledby="navbarDropdown">

                            <li><a class="dropdown-item" href="/user/profile">Mi perfil</a></li>

                            <li><a class="dropdown-item" href="/user/sign-out">Cerrar sesión</a></li>
                        </ul>
                    </li>
                </ul>
                <% } else { %>
                    <a class="nav-link" href="/user/registro">Registro</a>
                    <a href="/user/login"><i class="fa-solid fa-circle-user"></a></i>
                    <% } %>
                        <a href="/products/carrito-compra"><i class="fa-solid fa-cart-shopping"><span class="badge red z-depth-1 mr-1 cart-number">0</span></a></i>
                        <a class="mis-compras"> Mis compras</a>
        </div>
        <!-- </ul> -->
    </div>


    <nav class="main-navbar">
        <div class="burger-menu">
            <ul class="cont-ul">
                <li class="desplegableMenu">

                    <a href="/products/catalogo"> <i class="fa-solid fa-bars" style="color:#144e0d;"></i></a>
                    <ul class="ul-second2" aria-labelledby="navbarDropdown">
                        <!-- <li><a class="dropdown-item" href="/product/category/newProduct">Nuevos productos</a></li>
                        <li><a class="dropdown-item" href="/product/category/offerProduct">Productos en Oferta</a></li> -->
                        <li><a class="dropdown-item" href="/products/catalogo/1">Forestación</a></li>
                        <li><a class="dropdown-item" href="/products/catalogo/2">Herramientas</a></li>
                        <li><a class="dropdown-item" href="/products/catalogo/3">Jardinería</a></li>
                        <li><a class="dropdown-item" href="/products/catalogo/4">Maquinaria agrícola</a></li>
                        <li><a class="dropdown-item" href="/products/catalogo/5">Movimiento de carga</a></li>
                        <li><a class="dropdown-item" href="/products/catalogo/6">Pulverización</a></li>
                    </ul>                              
                </li>
            </ul>   
        </div>

        <ul class="menu">
            <li><a href="#Noticias"> Noticias</a></li>
            <li><a href="/contact"> Contacto </a></li>
        </ul>
    
        
</header>     