<header class="main-header">

    <div class="main-header-top-bar">

        <a href="/">
            <h2 class="marca">AgroMapache</h2>
        </a>

        <div class="barra-busqueda">
            <input type="text" placeholder="Buscar productos">
            <button><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>

        <div class="usuario">
            <!-- <ul class="navbar-nav align-items-center"> -->
            <% if (locals.isLogged) { %>


                <ul class="cont-ul">

                    <li class="desplegable">
                        <div class="probando">
                        <!-- <a class="nav-link dropdown-toggle" href="#" id="dropUser" role="button" data-bs-toggle="dropdown" aria-expanded="false"> -->
                        <!-- <img src="/img/user/" style="border-radius: 100%;" href="#"> -->
                        <% if(userLogged.image) {%>
                            <img class="user-image" src="/img/user/<%=userLogged.image%>" alt="Imagen de perfil del usuario" style="border-radius: 100%;">
                        <% } else { %>
                                <img class="user-image" src="/img/user/avatar.default.png" alt="Imagen de perfil del usuario" style="border-radius: 100%;">
                        <% } %>
                        <p>Hi <%= locals.userLogged.customer_name %></p>
                        </div>
                        
                        <ul class="ul-second" aria-labelledby="navbarDropdown">
                            
                            <li><a class="dropdown-item" href="/user/profile">Mi perfil</a></li>

                            <li><a class="dropdown-item" href="/user/sign-out">Cerrar sesión</a></li>
                        </ul>
                    </li>
                </ul>
                <% } else { %>
                    <a class="nav-link" href="/user/registro">Registro</a>
                    <a href="/user/login"><i class="fa-solid fa-circle-user"></a></i>
                    <% } %>
                        <a href="/products/carrito-compra"><i class="fa-solid fa-cart-shopping" ></a></i>
                        <a class="mis-compras"> Mis compras</a>
        </div>
        <!-- </ul> -->
    </div>
    </div>


    <nav class="main-navbar">
        <div class="burger-menu">
            <a href="/products/catalogo"> <i class="fa-solid fa-bars" style="color: #05070b;"></a></i>
        </div>

        <ul class="menu">
            <li><a href="#Noticias"> Noticias</a></li>
            <li><a href="/contact"> Contacto </a></li>



        </ul>
</header>