<header class="main-header">

    <div class="main-header-top-bar">
        <div class="burger-menu">
           <a href="/products/catalogo"> <i class="fa-solid fa-bars" style="color: #05070b;"></a></i>
        </div>
        <a href="/home"><h2 class="marca">AgroMapache</h2></a>
        <!-- <img src="./img/logo2.jpeg" class="logo"> -->
        <div class="barra-busqueda">
            <input class="color-text-gris" type="text" value="Buscar productos">
            <button><i class="fa-solid fa-magnifying-glass"></i></button>
            <!-- <input type="text" placeholder="Buscar">
            <button type="submit"> Buscar</button> -->
        </div>
        <div class="usuario">
            <a href="/user/login"><i class="fa-solid fa-circle-user"></a></i>
            <a href="/products/carrito-compra"><i class="fa-solid fa-cart-shopping"></a></i>
            <a > Mis compras</a>
        </div>
    </div>
    </div>

    <nav>
        <nav class="main-navbar">
            <ul class="site-navbar">
                <a href="#Noticias"> Noticias</a>
                <a href="/home/contact"> Contacto </a>
            </ul>
        </nav>

</header>