<header class="main-header">

    <div class="main-header-top-bar">

        <a href="/">
            <h2 class="marca">AgroMapache</h2>
        </a>

        <div class="barra-busqueda">
            <input type="text" placeholder="Buscar productos">
            <button><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>

        <div class="usuario">
            <a href="/user/login"><i class="fa-solid fa-circle-user"></a></i>
            <a href="/products/carrito-compra"><i class="fa-solid fa-cart-shopping"></a></i>
            <a class="mis-compras"> Mis compras</a>
        </div>
    </div>


    <nav class="main-navbar">
        <div class="burger-menu">
            <a href="/products/catalogo"> <i class="fa-solid fa-bars" style="color: #05070b;"></a></i>
        </div>

        <ul class="menu">
            <li><a href="#Noticias"> Noticias</a></li>
            <li><a href="/home/contact"> Contacto </a></li>
        </ul>


</header>