<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/carrito-compra.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Agro-mapache</title>
</head>

<body>
    <%- include("../partials/header") %> 
    <main>

        <div class="carro-completo">
            <div class="items">
                <div class="cart">
                    <article>

                        <img src="/img/fumigadora.jpg" width="200px">
                        <p> Fumigadores 210 Litros</p>
                        <div>
                            <button id="menos" type="button">-</button>

                            <input type="text" id="contador" class="form-control" value="1" min="1" />

                            <button id="mas" type="button">+</button>
                        </div>
                        <p>$400.000</p>
                        <i class="fa-solid fa-trash-can"></i>

                    </article>


                    <article>


                        <img src= /img/desmalezadora.png" width="200px">
                        <p class="nombre"> APACHE 54000 </p>
                        <div>
                            <button id="menos" type="button">-</button>

                            <input type="text" id="contador" class="form-control" value="1" min="1" />

                            <button id="mas" type="button">+</button>
                        </div>


                        <p class=" precio"> $ 500.000</p>
                        <i class="fa-solid fa-trash-can"></i>

                    </article>


                    <article>

                        <img src="/img/casa-rodante.jpg" width="200px">
                        <p>Casilla Rural CR-455 </p>
                        <div >
                            <button id="menos" type="button">-</button>

                            <input type="text" id="contador" class="form-control" value="1" min="1" />

                            <button id="mas" type="button">+</button>
                        </div>
                        <p> $ 700.000</p>
                        <i class="fa-solid fa-trash-can"></i>

                    </article>
                </div>

            </div>
            <section class="buy">
                <h3 > RESUMEN DE COMPRA </h3>
                <div>
                <p> TOTAL</p>
                <p> $900.000 </p>
                </div>
              
                <button type="submit" class="boton-compra"> Finalizar compra</button>
                <button type="submit" class="seguir-compra">Seguir comprando</button>
           

         </section>

        </div>

    </main>
    <%- include("../partials/footer")  %>
</body>


</html>