<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/carrito-compra.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Agro-mapache</title>
</head>

<body>

    <%- include("../partials/header") %>

        <main>

            <div class="carro-completo">
                <div class="items">

                    <article>

                        <img src="/img/fumigadora.jpg">
                        <div>
                            <h3 class="nombre-articulo"> Fumigadora 210 Litros</h3>
                            <button id="menos" type="button">-</button>

                            <input type="text" id="contador" class="form-control" value="1" min="1" />

                            <button id="mas" type="button">+</button>
                            <p class="precio">$400.000</p>
                            <button class="delete-product" id='' type="button"><i class="fa-solid fa-trash-can"></i></button>
                        </div>

                    </article>

                    <article>

                        <img src= '/img/desmalezadora.png'>
                        <div>
                            <h3 class="nombre-articulo">APACHE 54000</h3>
                            <button id="menos" type="button">-</button>

                            <input type="text" id="contador" class="form-control" value="1" min="1" />

                            <button id="mas" type="button">+</button>
                            <p class="precio">$500.000</p>
                            <button class="delete-product" id='' type="button"><i class="fa-solid fa-trash-can"></i></button>
                        </div>

                    </article>

                    <article>

                        <img src="/img/casa-rodante.jpg">
                        <div>
                            <h3 class="nombre-articulo">Casilla Rural CR-455</h3>
                            <button id="menos" type="button">-</button>

                            <input type="text" id="contador" class="form-control" value="1" min="1" />

                            <button id="mas" type="button">+</button>
                            <p class="precio">$700.000</p>
                            <button class="delete-product" id='' type="button"><i class="fa-solid fa-trash-can"></i></button>
                        </div>

                    </article>

                    

                </div>

                <section class="buy">
                    <h3> RESUMEN DE COMPRA </h3>
                    <div>
                        <p> TOTAL</p>
                        <p> $1.600.000 </p>
                    </div>
                    <div class="botones">
                    <button type="submit" class="boton-compra"> Finalizar compra</button>
                    <button type="submit" class="seguir-compra">Seguir comprando</button>
                </div>
                </section>

            </div>

        </main>

        <%- include("../partials/footer") %>
</body>


</html>