<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/carrito-compra.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Agro-mapache</title>
</head>

<body>

    <%- include("../partials/header") %>
    <main>
        <h2>Productos en mi carrito</h2>
        <table class="cart-table">
            <thead>
                <tr>
                    <th style="width: 50px;">
                        <strong>#</strong>
                    </th>
                    <th>Imagen</th>
                    <th>Producto</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody class="cartRows">
                
            </tbody>
        </table>
        
        <div class="cart-total">
            <p>Total: 0</p>
            <button class="checkout">Pagar</button>
        </div>
    </main>

        </main>

        <%- include("../partials/footer") %>
        
</body>
<script src="/js/script.js"></script>
<script src="/js/cart.js"></script>


</html>