<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/carrito-compra.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Agro-mapache</title>
</head>

<body>

    <%- include("../partials/header") %>
        <main>
            <h2>Productos en mi carrito</h2>
            <table class="cart-table">
                <thead>
                    <tr>
                        <th style="width: 50px;">
                            <strong>#</strong>
                        </th>
                        <th>Imagen</th>
                        <th>Producto</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                        <th>Subtotal</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody class="cartRows">

                </tbody>
            </table>
            <br>
            <div class="total">
                <p>Total: <span class="cart-total">0</span></p>
                
            </div>
            <br>
            <div class="card">
                <div class="card-header text-center">
                    Terminar la compra
                </div>
                <br>
                <form   action="/api/checkout" method="post" class="card-body" id="checkoutCart">
                    <input type="hidden" id="customer_id" name="customer_id">
                   <!--  <input type="hidden" id="customer_id" name="customer_id" > -->
                    <div class="row">
                        <div class=" col-md-6 mb-4">
                            <label>Especifique dirección</label>
                            <input type="text" id="ship_adress" name="ship_adress">
                        </div>
                        <br>
                        <div class=" col-md-6 mb-4">
                            <label for="country">Pago</label>
                            <select class="custom-select d-block w-100" id="paymentMethod" name="paymentMethod"
                                required="">
                                <option value="">Elegir...</option>
                                <option value="Efectivo">Efectivo</option>
                                <option value="Débito">Tarjeta Débito</option>
                                <option value="Crédito">Tarjeta Crédito</option>
                            </select>

                        </div>
                        <br>
                    </div>
                </form>
                    <button class="checkout"
                            type="submit">Comprar</button>
                
                <!-- <button class="checkout">Pagar</button> -->
        </main>



        <%- include("../partials/footer") %>

</body>
<script src="/js/script.js"></script>
<script src="/js/cart.js"></script>


</html>