<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/formularioProduxtos.css">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
            integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        

        <title>Formulario de Productos</title>
    </head>
    
<body>
<%- include("../partials/header") %>  

<main>
    <section class="form-register">
    <form action="/products/catalogo" method="post" enctype="multipart/form-data">
        <h4>Crear Producto</h4>
       
            <input class="controls" type="text" value= "<% values.name%>" name="name" id="name" placeholder="Ingrese Nombre del Producto" >
   
            <input class="controlsD" type="texttarea" value= "<% values.description%> "name="description" id= "description" placeholder="Ingrese descripción del producto" >
        
            <input class="controls"  type="text" value= "<% values.price%>" name="price" id="price" placeholder="Ingrese precio/texto" >
       
            <input class="controls"  type="file" name="img">
       
            <input class="botonsE" type="submit"></input>
       
    </form>
    </section>
    
 </main>
  <%- include("../partials/footer")  %> 
</body>
