<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
            integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="/formularioProductos.css">

        <title>Formulario de Productos</title>
    </head>

<body>

    <header class="main-header">
            <h2 class="marca">AgroMapache</h2>
    </header>

    <form action="/formularioProducto" method="get" class="form">

        <div class="nombreProducto">
            <label for="nombreProducto">Nombre Producto:</label>
            <input type="text" name="producto" id="producto" placeholder="Ingrese Nombre del Producto" required>
        </div>

        <div class="descripcionProducto"><label for="descripcionProducto">Descripción:</label>
            <input type="textarea" name="descripcionProducto" placeholder="Ingrese descripción del producto" required>
        </div>

        <div class="precioProducto"><label for="precioProducto">Precio:</label>
            <input type="text" name="precio" id="prrecio" placeholder="Ingrese precio" required>
        </div>

        <div class="imagenProducto">
            <label for="imagenProducto">Imagen Producto:</label>
            <input type="file" name="imagenProducto" accept=".jpg, .png" class="control" required>
        </div>

        <div class="boton-cierre">
            <button type="reset">Borrar</button>
            <button type="submit">Guardar</button>
        </div>

    </form>

    <footer> 
        <h2 class="logo">AgroMapache</h2>
    </footer>
</body>
