.footer{
    background-color: rgb(162 176 187);
    width: 100%;
    height: 40px;
    text-align: center;
}
.row{
    background-color:#767482;
    display: flex;
    text-align: center;   
    justify-content: space-around;
}


.lastProductCreat{
    background-color:  #CEBACF;
    border-radius: 5px;
    width: 100%;
    padding: 5px;
}
.listProduct{
    background-color: #CEBACF/* rgb(203, 200, 200) */;
    border-radius: 5px;
    width: 100%;
    padding: 5px;
}
.categories{
    background-color: #C6AFB1/*  rgb(159, 193, 252)  */;
    border-radius: 5px;
    width:100%;
    padding: 5px;
}
.listUser{
    
        background-color:#C6AFB1/* rgb(203, 200, 200) */;
        border-radius: 5px;
        width: 100%;
        padding: 5px;
     
}
.contenedor-flex{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 16px;
}
/* .LastCreatedProduct{
    padding: 16px
}
.Categories{
    padding: 16px
} */
.contenedorList{
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    gap: 16px
}
.deshboard{
    background-color:#C6AFB1
}
.TopBar{
    background-color: rgb(162 176 187);
    text-align: right;   
    height: 50px;
}