<!DOCTYPE html>
<html>
<head>
	<title>Registro</title>
	<link rel="stylesheet" type="text/css" href="estilo.css">
</head>
<body>
	<div class="container">
		<div class="card">
			<img src="/Users/Gonza/Desktop/Proyecto/Logo.jpeg" alt="Logo" class="logo">
			<h2>Crear cuenta</h2>
			<p>Ingrese su correo electrónico y una contraseña para crear su cuenta:</p>
			<form>
				<label for="email">Correo electrónico:</label>
				<input type="email" id="email" name="email" required>

				<label for="password">Contraseña:</label>
				<input type="password" id="password" name="password" required>

				<label class="checkbox">
					<input type="checkbox" name="remember" id="remember">
					Recordar correo electrónico y contraseña
				</label>

				<button>Ingresar</button>
				<button class="google-button">Ingresar con Google</button>
			</form>

			<p class="terms">Al hacer clic en "Ingresar", acepta nuestros <a href="#">Términos y condiciones</a> y nuestra <a href="#">Política de privacidad</a>.</p>
		</div>


</body>
</html>
