<!DOCTYPE html>
<html>

<head>
	<title>Agro-mapache</title>
	<link rel="stylesheet" href="/css/login.css">
</head>

<body>

	<main class="Login">

		<div>
			<img class="Background-gif" src="../img/Stock_Footage_Tractor.gif">
		</div>

		<div class="wrapper">
			<a href="/" class="underline"><h2 class="marca">AgroMapache</h2></a>

			<form action="/user/login"  method="POST" class="login">
				<div>
					<div class="register">
						<h3 style="color: red"> <%= error %></h3>
						<span>¿Aún no tenés cuenta?<a href="/user/registro"> Registrate!</a></span>
					</div>
					<label for="customer_email">Email:</label><br>
					<input type="email"  name="customer_email" placeholder= "Email" class="control" required>
				</div>

				<div>
					<label for="password">Contraseña:</label><br>
					<input type="password"  name="password" placeholder= "Contraseña" class="control" required>
				</div>

				<div>
					<label class="checkbox"> Mantener sesion iniciada
					<input type="checkbox" name="remember"> </label>
					
				</div>

				<div>
					<button type="submit" class="control">Ingresar</button>
				</div>
				<div>
					<button type="submit" class="google-button">Ingresa con Google</button>
				</div>
			</form>

			<p class="terms">Al hacer clic en "Ingresar", acepta nuestros <a href="#">Términos y condiciones</a> y nuestra
				<a href="#">Política de privacidad</a> </p>
		</div>
		

	</main>

	<!-- <%- include("../partials/footer") %>
 -->
 <script src="/js/script.js"></script>
</body>

</html>