<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Catalogo.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>

<body>

    <header class="main-header">

        <div class="main-header-top-bar">
            <div class="burger-menu">
                <i class="fa-solid fa-bars" style="color: #05070b;"></i>
            </div>
            <h2 class="marca">AgroMapache</h2>
            <!-- <img src="./img/logo2.jpeg" class="logo"> -->
            <div class="barra-busqueda">
                <input class="color-text-gris" type="text" value="Buscar productos">
                <button><i class="fa-solid fa-magnifying-glass"></i></button>
                <!-- <input type="text" placeholder="Buscar">
                <button type="submit"> Buscar</button> -->
            </div>
            <div class="usuario">
                <i class="fa-solid fa-circle-user"></i>
                <i class="fa-solid fa-cart-shopping"></i>
                <a href="#Mis compras"> Mis compras</a>
            </div>
        </div>
        </div>

        <nav>
            <nav class="main-navbar">
                <ul class="site-navbar">
                    <a href="#Noticias"> Noticias</a>
                    <a href="#Contacto"> Contacto </a>
                </ul>
            </nav>

    </header>

    <main>
        <section>
            <div class="catalogo-bar">
                <div class="menu">
                    <button>
                        <p>
                            <i class="fa-solid fa-list-check"></i>
                            Filtro
                        </p>
                    </button>
                </div>

                <div class="searchbar">
                    <input type="text">
                    <button>
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>

            </div>
        </section>

        <section class="filter-menu">
            <h2>Filtro</h2>

            <form action="">

                <label>Ordenar por</label>
                <select name="" id="">
                    <option value="">Lorem</option>
                    <option value="">Lorem</option>
                    <option value="">Lorem</option>
                    <option value="">Lorem</option>
                    <option value="">Lorem</option>
                </select>

                <br>

                <label>Marca</label>
                <br>
                <input type="checkbox" name="#">Lorem</input>
                <br>
                <input type="checkbox" name="#">Lorem</input>
                <br>
                <input type="checkbox" name="#">Lorem</input>
                <br>
                <input type="checkbox" name="#">Lorem</input>
                <br>
                <input type="checkbox" name="#">Lorem</input>
                <br>
                <input type="checkbox" name="#">Lorem</input>


            </form>
        </section>

        <section class="catalogo-main">

            <article class="producto">

                <img src="./img/hacha_de_camping.png" width="300px">
                <div>
                    <p class="nuevo"> Nuevo</p>
                    <div class="valor">
                        <p class="precio"> $12.123</p>

                    </div>
                    <p class="envio">Envios a todo el pais</p>
                    <strong class="descripcion">Hacha de camping Bahco</strong>
                </div>
            </article>
            <article class="producto">

                <img src="./img/hacha_de_pico.png" width="300px">
                <div>
                    <p class="nuevo"> Nuevo</p>
                    <div class="valor">
                        <p class="precio"> $24589</p>

                    </div>
                    <p class="envio">Envios a todo el pais</p>
                    <strong class="descripcion">Hacha de pico Bahco Mango Fibra Vidrio</strong>
                </div>
            </article>
            <article class="producto">

                <img src="./img/motosierra_niwa.png" width="300px">
                <div>
                    <p class="nuevo"> Nuevo</p>
                    <div class="valor">
                        <p class="precio"> $104.620</p>

                    </div>
                    <p class="envio">Envios a todo el pais</p>
                    <strong class="descripcion">Motosierra Niwa </strong>
                </div>
            </article>
            <article class="producto">

                <img src="./img/autoelevador_diesel.jpg" width="300px">
                <div>
                    <p class="nuevo"> Nuevo</p>
                    <div class="valor">
                        <p class="precio"> $7.049.916</p>

                    </div>
                    <p class="consultar"><a href="#consultar"> Recibir informacion</a></p>
                    <strong class="descripcion">Autoelevador Diesel Motor Chino 3000kg</strong>
                </div>
            </article>
            <article class="producto">

                <img src="./img/acoplado_tanque.jpg" width="300px">
                <div>
                    <p class="nuevo"> Nuevo</p>
                    <div class="valor">
                        <p class="precio"> $8.500.000</p>

                    </div>
                    <p class="consultar"><a href="#consultar"> Recibir informacion</a></p>
                    <strong class="descripcion">Acoplado Tanque 3000 Lts Conese</strong>
                </div>
            </article>
            <article class="producto">

                <img src="./img/moledora_mixer.jpg" width="300px">
                <div>
                    <p class="nuevo"> Nuevo</p>
                    <div class="valor">
                        <p class="precio"> $4.649.840</p>

                    </div>
                    <p class="consultar"><a href="#consultar"> Recibir informacion</a></p>
                    <strong class="descripcion">Moledora Mixer Loyto Nº6/V-3500 C/sinfin De Descarga Rigido</strong>
                </div>
            </article>
            <article class="producto">

                <img src="./img/retroexcavadora.png" width="300px">
                <div>
                    <p class="nuevo"> Nuevo</p>
                    <div class="valor">
                        <p class="precio"> Precio a consultar</p>

                    </div>
                    <p class="consultar"><a href="#consultar"> Recibir informacion</a></p>
                    <strong class="descripcion">Retroexcavadora Mo350 Oberto</strong>
                </div>
            </article>
            <article class="producto">

                <img src="./img/casilla.jpg" width="300px">
                <div>
                    <p class="nuevo"> Nuevo</p>
                    <div class="valor">
                        <p class="precio"> Precio a consultar</p>

                    </div>
                    <p class="consultar"><a href="#consultar"> Recibir informacion</a></p>
                    <strong class="descripcion">Casilla 5x2.60mts, 2 ejes, 1 habitación</strong>
                </div>
            </article>
        </section>
    </main>
    <footer></footer>

</body>

</html>