@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Satisfy&display=swap');

/* ---- CSS Carrito de compra ----*/
.items {
    background-color: rgb(136 136 136 / 34%);
    padding: 20px;
}

article {
    flex-direction: column;
    align-items: flex-start;
    align-items: center;
    border-bottom: solid 3px whitesmoke;
    width: 100%;
    padding-top: 15px;
}

article div{
padding: 10px;
padding-right: 0px;
}

article div input{
    width: 100px;
    padding: 10px;
}

article div button{
    padding: 10px;
}

.delete-product{
    margin-left: 85%;
}

.precio{
    padding-top: 5px;
    padding-bottom: 5px;
}

.buy {
    display: block;
    width: 100%;
    text-align: center;
    background-color: rgb(136 136 136 / 34%);
    padding: 20px;
    margin-top: 20px;
}

.buy h3{
    text-align: center;
}

.buy div{
    display: flex;
    padding: 10px;
}

.buy div p{
    margin-right: 15px;
}

.botones{
    display: flex;
    justify-content: space-around;
}

.botones button{
    padding: 15px;
}

@media(min-width: 768px){

    .carro-completo{
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    article{
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        flex-direction: row;
        align-self: flex-start;
    }

    article div{
        padding-top: 0px;
        padding-bottom: 0px;
        width: 60%;
    }

    .items article img{
        width: 40%;
    }

    .items {
        padding: 10px;
        width: 60vw;
    }

    .delete-product{
        margin-left: 85%;
    }

    .buy { 
        margin-top: 0px;
        width: 35vw;
    }

    .botones{
        display: flex;
        flex-direction: column;
    }

    .botones button{
        padding: 5px;
        margin: 5px;
    }
}

@media(min-width: 1024px){
    .items article img{
        width: 20%;
    }

    article div{
        width: 80%;
    }

    .delete-product{
        margin-left: 90%;
    }

    .botones button{
        max-width: 300px;
    }
}