/*          contacto main           */

.contact {
    padding: 10px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-around;
}

.contact .descripcion {
    text-align: justify;
    margin-top: 20px;
}

.contact div {
    padding: 10px;
    padding-bottom: 10px;
}

.mapa {
    width: 100%;
}

.form {
    width: 100vw;
    padding: 10px;
}

.control-form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 10px;
}

.control-form select {
    width: 90%;
    padding: 5px;
}

.contact-form div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contact-form input {
    width: 90%;
    padding: 5px;
    margin-bottom: 10px;
}

div.coment {
    padding: 5px;

}
input{
    width: 150px;
}

textarea {
    resize: none;
    /* width: 400px; */
}

.full{
    background-color:#5bc0de;
    width: 200px;
    height: 35px;
    border-radius: 2px;
    color: white;
    border: 1px; 
    margin-top: 10px;

}
 .tel{
    background-color:rgb(73 135 197 / 16%);
    height: 150px; 
    width: 300px;
    margin: 10px;
}
.schedules{
    height: 150px; 
    background-color:rgb(73 135 197 / 10%);
    width: 300px;
    margin: 10px;
    
}

.tel p {
    color: rgb(56, 105, 153)
}
.schedules p{
    color: rgb(56, 105, 153);
} 
@media(min-width:768px) {

    .seccion-contacto {
        display: flex;
        flex-direction: row;
    } 
    .form {
        margin-bottom: 380px;
        width: 40vw;
    }

    .boton-cierre button {
        padding: 10px 15px 10px 15px;
    }
    textarea {
        
        width: 400px;
    }
    input{
        width: 400px;
    }
    .full{
       
        width: 400px; }
    
   /*  .tel{
       
       
        width: 400px;
       
    }
    .schedules{
       
        width: 400px;
        
        
    } */
}


   