@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Satisfy&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.form-register{
    width: 400px;
    background:#dbdbe7/* #76767e *//* #24303c */; 
    padding: 30px;
    margin:auto;
    margin-top: 50px;
    margin-bottom: 40px;
    border-radius: 4px;
    color: black;
     box-shadow: 2px 13px 37px #000 
}
h4{
    font-size: 22px;
    margin-bottom: 20px;
}
.controls {
    width: 100%;
    background: #abb3bb/* #76767e *//*  #24303c  */;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: none/* 1px solid #2b2d2f */; 
    font-size: 18px;
    color: black;
}
.controlsD{
    width: 100%;
    background: #abb3bb/*  #76767e *//* #24303c */;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: none/* 1px solid #2b2d2f */;  
    font-size: 18px;
    color: black;
    height: 100px;
}
 .botons{
    width: 100%;
    background:#abb3bb; 
    border: none/* 1px solid #2b2d2f */;
    padding: 12px;
    margin: 16px 0;
    font-size: 16px;

}
.botonsE{
    width: 100%;
    background:#abb3bb ;
    border:none; 
    padding: 12px;
    color: black;
    margin: 16px 0;
    font-size: 16px;
    cursor: pointer;

}
.botonsE:hover{
    background-color:#1fac1d ;
}