@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Satisfy&display=swap');

* {
   box-sizing: border-box;
   font-family: 'Times New Roman', Times, serif;
   margin: 0px;
   padding: 0px;
}

.slider-frame {
	width: 100%;
   height: auto;
	margin:auto 0;
   margin-bottom: 0;
	overflow: hidden;
}

.slider-frame ul {
	display: flex;
	padding: 0;
	width: 400%;
	animation: slide 10s infinite alternate ease-in-out;
}

.slider-frame li {
	width: 100%;
	list-style: none;
}

.slider-frame img {
	width: 100%;
}

@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}
#buscar{
   cursor: pointer;
}
body {
   background-color: whitesmoke;
   margin:0;
   padding: 0;
}

.main-header {
   background-color: #144e0d;
   padding: 10px;
   color: black;
}

.main-header-top-bar {
   display: flex;
   flex-wrap: wrap;
   margin-bottom: 15px;
   align-items: center;
   justify-content: space-between;
}

/* header img */
.marca {
   display: flex;
   color: white;
   font-size: inherit;

}

a {
   color: white;
   text-decoration: none;
   font-family: 'Times New Roman', Times, serif;
   font-style: italic;
   font-weight: normal;
}

.burger-menu i {
   color: black;
   padding: 10px;
   background-color: white;
   border-radius: 10%;
   transition: 1000ms;
}

.barra-busqueda {
   border-radius: 10px;
   background-color: white;
   display: flex;
   justify-content: space-between;
}

.barra-busqueda input {
   padding-left: 5px;
   border: none;
   outline: 0;
   background-color: white;
   border-radius: 10px;

}

.barra-busqueda button {
   border: none;
   background-color: white;
   padding: 10px;
   border-radius: 10px;
}

.usuario {
   color: white;
   display: flex;
   position: absolute;
   right: 20px;
   top: 65px;
}

.usuario i {
   justify-content: space-between;
   font-size: 20px;
   transition: 700ms
}

.usuario a {
   transition: 700ms;
   padding-right: 10px;
   font-size: 18px;
}

.main-navbar.a {
   align-self: center;
}

.main-navbar.menu {
   display: flex;
   flex-direction: row;
}

.menu {
   display: none;
   list-style: none;
}

.site-navbar a {
   transition: 700ms;
}

.desplegable img {
   width: 30%;
}

.cont-ul li {
   list-style: none;
   cursor: pointer;
   color: black;
}

.desplegable .probando {
   display: flex;
   position: relative;
   align-items: center;
   margin-bottom: 2px;
}

.ul-second li {
   margin-top: 2px;
}

.usuario .mis-compras {
  /*  margin-top: 9px; */
   place-items: center;
}

/* .fa-cart-shopping {
   margin-top: 9px;

} */

.ul-second {
   display: none;
   position: absolute;
   background-color: rgb(203, 200, 200);
    width: 120px;
   border-radius: 6px;
   padding: 5px;
}

.desplegable:hover>.ul-second {
   display: block;
}

.ul-second a {
   font-style: normal;
   transition: none;
   font-size: 15px;

}

.desplegableMenu .probando {
   display: flex;
   position: relative;
   align-items: center;
   margin-top: 2px;
}

.desplegableMenu:hover>.ul-second2 {
   display: block;
   
}

.ul-second2 {
   display: none;
   position: absolute;
   background-color: rgb(203, 200, 200);
   width: 250px;
   border-radius: 6px;
   padding: 5px;

}

.ul-second2 a {
   font-style: normal;
   transition: none;
   font-size: 15px;
   padding: 15px;


}

.ul-second2 li {
   margin-top: 2px;

}

.saludo {
   display: none;
   color: white;
}

/* ----------------------------------------------main---------------------------------- */

.fondo {
   display: none;
   width: 100vw
}

.precio-anterior {
   text-decoration: line-through;
   text-align: left;
   margin: 0;
   padding-top: 10px;
   display: inline-block;
}

.informacion {
   display: flex;
   margin-top: 35px;
   text-align: center;
   justify-content: space-around;
}

.cajita-información {

   width: 40vw;
   font-size: 20px;
   border-radius: 5px;
   background-color: whitesmoke;
   margin-bottom: 20px;
}

.cajita-información i {
   margin-top: 12px;
   font-size: 30px;
   color: black;
}

.cajita-información h5 {
   color:black;
}

.titulares {
   margin-top: 20px;
   font-size: 20px;
   font-weight: 550;
   text-align: center;
   font-family: 'Times New Roman', Times, serif;
   padding: 10px;
   color: black;
   background-color: rgb(203, 200, 200)
}

.precio {
   font-size: 18px;
   font-family: 'Roboto', sans-serif;
   color: green;
   font-weight: bold;
}

.descuento {
   font-size: 18px;
   padding-left: 10px;
   font-family: 'Roboto', sans-serif;
   color: green;
   font-weight: bold;
}

.off {
   font-size: 12px;
   color: green
}

.descripcion {
   font-family: 'Roboto', sans-serif;
   text-align: left;
}

main {
   border-bottom: 10px;
   box-sizing: border-box;
}

article img {
   text-align: center;
   width: 100%;
}

main section {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
}

.producto {
   background-color: white;
   width: 90vw;
   display: inline-block;
   margin: 10px;
   border-top: 1px solid #ccc;
   transition: 700ms
}

div.valor {
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   font-weight: 100;
}

.consultar {
   font-size: 20px;
   margin-top: 5px;
}

.detalle-producto {
   background-color: white;
   padding: 10px;
   box-sizing: border-box;
}

.producto img {
   background-color: white;
   border-bottom: solid 5px whitesmoke;
}

.nuevo {
   width: 47px;
   background-color: green;
   color: white;
   border-radius: 5px;
}

.oferta {
   width: 49px;
   background-color: #214566;
   color: white;
   border-radius: 5px;
   padding-left: 5px;
   padding-right: 5px;
   display: inline-block;
}

.envio {
   color: #788578;
   font-size: 20px;
   text-align: left;
   padding-bottom: 10px;
}

section article a {
   display: block;
   color: green;
   font-style: normal;
   font-family: 'Times New Roman', Times, serif;
   text-align: left;
   padding-bottom: 10px;
}

.cajita-información img {
   width: 70px;
   height: 50px;
   border-radius: 5px;
}

/*          footer          */

footer {
   width: 100vw;
   background-color:  #144e0d;
   color: white;
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   align-self: center;
}

footer h2 {
   padding: 10px;
   color: white;
}

.probando {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
}

.redes {
   flex-direction: column;
   font-size: 16px;
   margin: 10px;

}

.redes i {
   margin-right: 10px;
   margin-bottom: 20px;
}

.nav-link {
   margin-top: 9px;
}

.fa-circle-user {
   margin-top: 9px;
}



/* ----------------------------------------------visualizacion---------------------------------- */
@media(min-width:768px) {

   .main-header-top-bar {
      justify-content: space-around;

   }

   .usuario {
      align-items: self-end;
      display: flex;
      position: relative;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
   }

   .usuario a {
      padding: 10px;
   }

   .main-navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 20px;
   }

   .menu {
      display: flex;
      justify-content: space-around;
   }

   .menu li {
      padding-right: 20px;
   }

   .burger-menu {
      margin-left: 10px;
   }

   header img {
      width: 200px;

      margin-top: 8px;
   }

   .fondo {
      display: flex;
   }

   .cajita-información {
      width: 16vw;
      font-size: 20px;
   }

   .producto {
      box-shadow: 0px 0px 10px rgb(100, 100, 100);
      width: 40vw;
   }

   .probando {
      flex-direction: row;
   }

   .dropdown-item {
      color: #214566;
   }
}


@media(min-width:1024px) {
   .saludo {
      display: block;
      margin-bottom: 4px;
   }

   div .probando {
      width: 140px;

   }

   header img {
      width: 280px;

   }

   .main-header-top-bar {
      max-width: 2000px;

   }

   .main-navbar {
      max-width: 2000px;
      font-size: 22px;
      margin-top: 20px;
   }

   .barra-busqueda {
      width: 30vw;
   }

   .barra-busqueda input {
      width: 75%;
      font-size: 20px;
   }

   .barra-busqueda button {
      font-size: 20px;
   }

   .menu li {
      padding-right: 30px;
   }

   .producto {
      width: 20vw;
   }

   .producto:hover {
      box-shadow: 0px 0px 10px rgb(63, 15, 15);
   }

   .cajita-información img {
      width: 100px;
      height: 90px;
   }

   .usuario i:hover {
      color: black;
      font-size: 40px;
   }

   .usuario a:hover {
      color: black;
      font-size: 30px;
   }

   .ul-second a:hover {
      color: black;

      font-size: 15px;

   }

   .site-navbar a:hover {
      color: black;
      font-size: 30px;
   }

   .producto:hover {
      width: 24vw;
   }

   .burger-menu i:hover {
      font-size: 30px;
   }

   .marca {
      font-size: 40px;
   }
}